* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark: #001d4a;
	--mid: #27476e;
	--light: #ede4be;
	--accent: #eca400;
	--alternate: #006992;
}

html {
	color: var(--dark);
	font: 20px/1.618 sans-serif;
	letter-spacing: 0.01618rem;
}

a {
	color: inherit;
	cursor: pointer;
	margin-left: -3.15px;
	margin-right: -3.15px;
	padding: 3.15px;
	position: relative;
	text-decoration: none;
	transition: 0.3s;
}
a::after {
	color: var(--accent);
	content: '°';
}
a:hover {
	background-color: var(--accent);
}
footer {
	justify-content: center;
}
footer,
header {
	background-color: var(--dark);
	color: var(--light);
	padding: 0 1rem;
}
footer,
header,
main {
	align-items: center;
	display: flex;
}
header h1 {
	font-size: 0.9rem;
}
input {
	border: 1px solid var(--mid);
	border-radius: 0.5em;
	font-size: 1rem;
	padding: 0.5em 1em;
}
input:focus {
	outline: none;
}
main {
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 2rem;
}

.container {
	display: grid;
	grid-template-rows: 50px auto 75px;
	margin: 0 auto;
	max-width: 1000px;
	min-height: 100vh;
}

.searchBar {
	align-self: flex-start;
	display: flex;
}
.searchBar h2 {
	margin-right: 1rem;
}
.userCard {
	border: 1px solid var(--mid);
	border-radius: 0.5em;
	margin: 1rem;
	padding: 1rem;
}
.userCard h3 {
	font-size: 0.8em;
}
.userCard h4 {
	font-size: 0.7em;
}
.userCard img {
	max-width: 10rem;
}
