* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font: 20px/1.618 sans-serif;
}

footer {
	justify-content: center;
}
footer,
header {
	background-color: blue;
	color: white;
	padding: 0 1rem;
}
footer,
header,
main {
	align-items: center;
	display: flex;
}

main {
	flex-direction: column;
	justify-content: center;
}

.container {
	display: grid;
	grid-template-rows: 50px auto 75px;
	margin: 0 auto;
	max-width: 1000px;
	min-height: 100vh;
	padding: 0 1rem;
}
